<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".ts" #>
<#
	// Initializations
	IServiceProvider serviceProvider = (IServiceProvider)this.Host;
	EnvDTE.DTE dte = (EnvDTE.DTE) serviceProvider.GetService(typeof(EnvDTE.DTE));

	Model model = new ModelBuilderDesign(dte).BuildModel();

	// TypeScript formatter.
	string client = new ClientTS().BuildClient(model);
	WriteLine(client);
#>
<#@ include file="ModelBuilderDesign.t4" once="true" #>  
